
body {
    background-color: beige;
}
.header{
    display: flex;
    justify-content:center;
}

h1 {
    color:hsl(49, 20%, 26%)
}
.container {
    border-radius: 15px;
    background-color: antiquewhite;
    margin-left:auto;
    margin-right: auto;
    height: 20rem;
    width: 16rem;
    padding: 0.2em;
    border:2px solid green;
}


#result {
    /* border:2px solid black; */
    margin:0;
}

#processP {
    /* border:2px solid red; */
    margin:0;
}

.container .displayBox {
    border-radius: 5px;
    background-color: rgb(247, 248, 245);
    text-align:right;
    height:  2.5em;
    padding: 0.5em;
    margin:  0.5em 1.5em;
    border: 2px solid orange;
}


.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em;
    padding: 2px;
}

.buttons button {
    border-radius: 5px;
    height: 3em;
    width: 3.6em;
    margin:3px;
    /* max-width: fit-content; */
}

.buttons button:hover {
    background-color: steelblue;
    /* max-width: fit-content; */
}

#divide, #multiply, #add, #subtract, #equals {
    background-color: #FFCC00;
}

#divide:hover,#multiply:hover,#add:hover,#subtract:hover {
    background-color: #b18e00;
}

#equals:hover {
    background-color: greenyellow;
}